// @import "modular-scale";
@import "../bower_components/modular-scale/stylesheets/_modular-scale";
@import "normalize";
@import "utilities";

// Example using modular-scale sass pluginTypographic Scale

// $ms-base: 16;
// $ms-ratio: $augmented-fourth;

// $s-norm: ms($ms-base);
// $s-med: ms(2);


// Typography
//http://modularscale.com/scale/?px1=16&px2=635&ra1=1.414&ra2=0
body {
	font-family: 'Merriweather', Georgia, serif;
	font-size: 100%;
}

p {
	font-size: 16px;
	line-height: 28px;
	margin-top: 0;
	margin-bottom: 31.990px;
	max-width: 635px;
}
aside p {
	font-size: 14.055px;
	line-height: 22px;
}

.author {
	font-size: 19px;
	line-height: 19px;
}
h1 {
	font-size: 112.338px;
	line-height: 112.338px;
	margin-top: 1em;
	margin-bottom: 0;
}

h2 {
	font-size: 39.736px;
	line-height: 63.961px;
	margin-top: 39.736px;
	margin-bottom: 39.736px;
}

h3 {
	font-size: 28px;
	line-height: 39px;
	margin-top: 39px;
	margin-bottom: 14px;
}

blockquote {
	font-size: 19px;
	line-height: 28.102px;
	margin-top: 19px;
	margin-bottom: 29px;
	margin-left: 39.736px;
	margin-right: 39.736px;
}

// Main Styles
.container {
	@include cf;
	max-width: 1022.145px;
	margin: auto;
}

aside {
	width: 39%;
	padding-right: 63.961px;
	float: left;
}
article {
	width: 61%;
	float: left;
}

a:link, a:visited {
	color: darken(#27ACFB, 10);
	transition: color 0.1s ease-in-out;
}
a:hover, a:active {
	color: lighten(#27ACFB, 10);
}

.dropcap {
	height: 79px;
	float: left;
	padding-right: 11px;
}

.gargoyle {
	display: block;
	width: 61%;
	margin: auto;
}
