// @import "modular-scale";
@import "../bower_components/modular-scale/stylesheets/_modular-scale";
@import "normalize";
@import "utilities";

// Example using modular-scale sass pluginTypographic Scale

// $ms-base: 16;
// $ms-ratio: $augmented-fourth;

// $s-norm: ms($ms-base);
// $s-med: ms(2);


// Typography
//http://modularscale.com/scale/?px1=16&px2=635&ra1=1.414&ra2=0
body {
	font-family: 'Merriweather', Georgia, serif;
	font-size: 100%;
	color: #333;
}

p {
	font-size: 16px;
	line-height: 1.756em; /* 28px / 16 = 1.756em */
	margin-top: 0;
	margin-bottom: 1.999em; /* 31.990px / 16 = 1.999em */
	max-width: 39.88em; /* 635 / 16 = 39.88em */
}
aside p {
	font-size: 0.878em; /* 14.055 / 16 = 0.878em */
	line-height: 1.565em; /* 22 / 14.055 = 1.565em */
}

.author {
	font-size: 1.1875em; /* 19px / 16px = 1.1875em */
	line-height: 1em; /* 19px / 19px = 1em */
}

h1 {
	font-size: 7.021em; /* 112.338px / 16px = 7.021em */
	line-height: 1em;
	margin-top: 1em;
	margin-bottom: 0;
	letter-spacing: -0.03em;
}

h2 {
	font-size: 2.484em; /* 39.736px / 16px = 2.484em */
	line-height: 1.61em; /* 63.961px / 39.736px = 1.61em */
	margin-top: 1em;
	margin-bottom: 1em;
	letter-spacing: -0.02em;
	word-spacing: -0.1em;
	font-weight: 900;
}

h3 {
	font-size: 1.756em; /* 28px / 16px = 1.756em */
	line-height: 1.39em; /* 39px / 28px = 1.39em */
	margin-top: 1.39em;
	margin-bottom: 0.5em; /* 14px / 28 = 0.5em */
}

blockquote {
	font-size: 1.1875em; /* 19px / 16px = 1.1875em */
	line-height: 1.479em; /* 28.102px / 19px = 1.479em */
	margin-top: 1em;
	margin-bottom: 1.8125em; /* 29px / 16px = 1.8125em */
	margin-left: 2.091em; /* 39.736 / 19px = 2.091em */
	margin-right: 2.091em; 
	font-style: italic;
	color: #C7C7C7;
}

// Main Styles
.container {
	@include cf;
	max-width: 63.884em; /* 1022.145px / 16px = 63.884em */
	margin: auto;
}

aside {
	width: 39%;
	padding-right: 3.998em; /* 63.961px / 16px = 3.998em */ 
	float: left;
	footer {
		text-transform: uppercase;
		font-weight: bold;
		font-size: 0.75em; /* 12 / 16 = 0.75em */
		letter-spacing: 0.03em;
		color: #999;
	}
}
article {
	width: 61%;
	float: right;
}

a:link, a:visited {
	color: darken(#27ACFB, 10);
	transition: color 0.1s ease-in-out;
}
a:hover, a:active {
	color: lighten(#27ACFB, 10);
}

.dropcap {
	height: 4.9375em; /* 79px / 16px = 4.9375em */
	float: left;
	padding-right: 0.6875em; /* 11px / 16px = 0.6875em */
}

.gargoyle {
	display: block;
	width: 61%;
	margin: auto;
}

@media screen and (max-width: 1100px) {
  body { font-size: 90%;}
}

@media screen and (max-width: 840px) {
	body {
		padding-left: 2.827em;
		padding-right: 2.827em;
	}
  aside { float: none;}
  article { 
  	float: none;
  	width: 90%; 
  	margin: auto;
  }
}

@media screen and (max-width: 590px) {
 body { font-size: 75%; }
}
 